.coin {
  position: relative;

  .flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @media only screen and (max-width: $tablet-bp) {
      flex-direction: column;
    }
  }

  .coin-text {
    margin-top: 20px;
    padding-right: 30px;
    min-width: 0;

    .coin-text__header {
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: $medium;
    }

    .coin-text__paragraph {
      font-size: 15px;
      line-height: 25px;

      a {
        color: $black;
        font-weight: $semi-bold;
        text-decoration: underline;
      }
    }
  }

}