.filter {
  background-color: $white;
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(250,250,250,1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(250,250,250,1);
  box-shadow: 0px 4px 4px 0px rgba(250,250,250,1);

  .filter__wrapper {
    width: $grid-width-standard;
    margin: 0 auto;
    padding: 50px 0 50px 0;

    @media only screen and (max-width: $tablet-bp) {
      width: $grid-width-mobile--filter;
      padding: 20px 0 20px 0;
    }
  }

  .search {
    position: relative;
    width: 100%;

    .search__input {
      position: relative;
      color: $grey-2;
      font-weight: $semi-bold;
      font-size: 19px;
      width: 100%;
      height: 70px;
      padding-left: 40px;
      background-color: $search-bc;
      border-radius: 8px;
      -webkit-box-shadow: 0px 3px 0px 0px rgba(239,242,245,1);
      -moz-box-shadow: 0px 3px 0px 0px rgba(239,242,245,1); 
      box-shadow: 0px 3px 0px 0px rgba(239,242,245,1);

      @media only screen and (max-width: $tablet-bp) {
        height: 55px;
        width: 95%;
        font-size: 15px;
        padding-left: 20px;
      }

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $grey-2;
        opacity: 1; /* Firefox */
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $grey-2;
      }
      
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $grey-2;
      }
    }

    .search__button {
      width: 46px;
      height: 46px;
      background-color: $main-blue;
      border-radius: 8px;
      position: absolute;
      top: 13px;
      right: 0;
      cursor: pointer;
      -webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.2);
      box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.2);   

      @media only screen and (max-width: $tablet-bp) {
        width: 32px;
        height: 32px;
        right: 20px;
      }

      .search__icon {
        fill: $white;
        width: 24px;
        height: 24px;

        @media only screen and (max-width: $tablet-bp) {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .change-amount {
    width: 130px;
    height: 40px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 20px;
    font-weight: $medium;
    appearance: none;
    background: url('../img/arrow_down.svg') no-repeat right $search-bc;
    -webkit-appearance: none;
    background-position-x: 100px;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(239,242,245,1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(239,242,245,1); 
    box-shadow: 0px 3px 0px 0px rgba(239,242,245,1);

    @media only screen and (max-width: $tablet-bp) {
      margin-top: 30px;
    }
  }
  
  .change-amount__note {
    color: $grey-1;
    font-size: 10px;
    font-weight: $regular;
    margin-top: 10px;
  }
}
