//Font
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//Project colors
$white: #FFFFFF;
$main-blue: #345AE7;
$table-blue: #404D80;

$main-bc: #F4F5F7;
$search-bc: #F9FBFD;

$grey-1: #C0C2CC;
$grey-2: #B8BCCC;

$green: #16C784;
$red: #EA3943;

//Responsive breakpoints
$tablet-bp: 768px;

//grid width percentages
$grid-width-standard: 75%;