//Font
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//Project colors
$white: #FFFFFF;
$main-bc: #F4F5F7;
$main-blue: #345AE7;
$nav-foot-grey: #C0C2CC;
$search-bc: #F9FBFD;
$search-input-c: #B8BCCC;

//Responsive breakpoints
$tablet-bp: 768px;

//grid width percentages
$grid-width-standard: 75%;