// Font import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

//Variables
@import 'variables';

//Component css imports
@import 'navigation';
@import 'footer';
@import 'filter';
@import 'table';

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0; 
  padding: 0; 
  border: 0; 
  list-style: none;
}

body {
  background-color: $main-bc;
}

.main {
  width: $grid-width-standard;
  margin: 45px auto;
  min-height: 90vh;

  @media only screen and (max-width: $tablet-bp) {
    width: $grid-width-mobile
   }
}